<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title%></title>
      <link rel="shortcut icon" href="/img/favicon.ico"/>
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
         integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <body>
      <%- include('header'); -%>
            <!-- News CARD VIEW -->
            <span class="fw-bold" style="color: #C500E1; margin: 50px; font-size: 30px;"><%= text %></span>
            <div class="container py-5">
               <div class="row row-cols-1 row-cols-md-3 g-4">
                     <% for (let i = 0; i < news.data.length; i++) { %>
                         <div class="col">
                             <div class="card-news news" style="border:#C500E1 2px solid;" onclick="redirectToNews('<%= news.data[i].news_id %><%= news.data[i].title %>')">
                                 <% if(news.data[i].image) { %> 
                                     <img src="<%= news.data[i].image %>" class="card-img-top" style="height: 250px;" alt="News Image">
                                 <% } %>
                                 <div class="card-body">
                                     <% if (news.data[i].pub_date) { %>
                                         <button class="rounded text-white text-center" style="background-color: #3B0344; margin-bottom: 8px;"><%= news.data[i].pub_date %></button>
                                     <% } %>
                                     <% if (news.data[i].title) { %>
                                         <h5 class="card-title" style="color: #3B0344; font-size: 20px;"><%= news.data[i].title %></h5>
                                     <% } %>
                                     <% if (news.data[i].description) { %>
                                         <h5 class="card-title" style="font-size: 15px;"><%= news.data[i].description %></h5>
                                     <% } %>
                                 </div>
                             </div>
                         </div>
                  <% } %>                 
               </div>
            </div>
            <!-- News CARD VIEW -->  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
         integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
         <script src="/js/newsDetails.js"></script>
         <%- include('footer'); -%>
   </body>
</html>
